<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.work_staff_marching">
    <!-- *************** 图片选择 begin  *************** -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- *************** 图片选择   end  *************** -->
    <!-- 用于写入缓存数据到扩展存储卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 联网权限 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 拨号权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".cyf.ui.WorkUserDetailActivity"></activity>
        <activity android:name=".cyf.ui.EstimateActivity" />
        <activity android:name=".cyf.ui.TaskHandledDetailActivity" />
        <activity android:name=".cyf.ui.TransactionRecordShowActivity" />
        <activity android:name=".cyf.ui.TransactionRecordActivity" />
        <activity android:name=".cyf.ui.MarchedTaskDetailActivity" />
        <activity android:name=".cyf.ui.ChangePhoneActivity" />
        <activity android:name=".cyf.ui.WorkUserIndexActivity" />
        <activity android:name=".cyf.ui.AdminAddTaskProportionActivity" />
        <activity android:name=".cyf.ui.AuditYesTaskDetailActivity" />
        <activity android:name=".cyf.ui.TaskDetailActivity" />
        <activity android:name=".cyf.ui.WorkuserUpdateEvaluatingIndicatorActivity" />
        <activity android:name=".cyf.ui.WorkuserAddEvaluatingIndicatorActivity" />
        <activity android:name=".cyf.fragment.PersonAuditFragment" />
        <activity android:name=".cyf.ui.AdminIndexActivity" />
        <activity android:name=".cyf.ui.TaskEstimateActivity" />
        <activity android:name=".cyf.ui.ChangeCatageryActivity" />
        <activity android:name=".cyf.ui.ChangeAddressActivity" />
        <activity android:name=".cyf.ui.ChangeContentActivity" />
        <activity android:name=".cyf.ui.ChangeOnlinePetitionActivity" />
        <activity android:name=".cyf.fragment.TaskFragment" />
        <activity android:name=".cyf.ui.InformationAddressActivity" />
        <activity android:name=".cyf.ui.ChangeUserInformationActivity" />
        <activity android:name=".cyf.ui.PhoneCallActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.MY_CATEGORY" />
            </intent-filter>
        </activity> <!-- *************** 图片选择 begin  *************** -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.file_provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths_public" />
        </provider> <!-- *************** 图片选择   end  *************** -->
        <activity android:name=".cyf.ui.TaskProportionActivity" />
        <activity android:name=".cyf.ui.AdressActivity" />
        <activity android:name=".cyf.ui.CatageryActivity" />
        <activity android:name=".cyf.ui.ContentSureActivity" />
        <activity android:name=".cyf.ui.ContentActivity" />
        <activity android:name=".cyf.ui.OnlinePetitionSureActivity" />
        <activity android:name=".cyf.ui.UserIndexActivity" />
        <activity android:name=".cyf.ui.RegisterUserActivity" />
        <activity android:name=".cyf.ui.RegisterActivity" />
        <activity android:name=".cyf.ui.ForgetPasswordActivity" />
        <activity android:name=".cyf.ui.ChangeUserPasswordActivity" />
        <activity android:name=".cyf.ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".cyf.ui.ChooseActivity" />
    </application>

</manifest>